﻿body, html {
    height:100%;
    width:100%;
}


#container {
    padding-top: 10px;
}

.button-adjustment {
    padding-top: 13px;
}

.clickable{
    cursor:pointer;
}

.overflowed{
    overflow-y:overlay !important;
}


.validate,.ng-pristine,.ng-untouched,.ng-empty,.ng-invalid,.ng-invalid-required,.ng-valid-maxlength {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}


.ng-touched.ng-invalid{
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

.align-adjust {
    height: 25px;
}

.error-message {
    color:#F44336;


}

.row {
    margin-bottom: 5px !important;
}