﻿<div id="container">

    <div class="row">
        <div class="col s10">
            <h4>Listado de deliveries</h4>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light" type="button" name="action">
                Crear nuevo delivery
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col s3">Filtros</div>
        <div class="col s3">
            <input id="filter_nombre" type="text" class="validate">
            <label for="filter_nombre">Nombre</label>
        </div>
        <div class="col s3">
            <input id="filter_direccion" type="text" class="validate">
            <label for="filter_direccion">Direccion</label>
        </div>
        <div class="col s3"></div>
    </div>

    <div class="row">
        <div class="col s12" ng-controller="DeliveryController as deliveryCtrl">

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="delivery in deliveryCtrl.deliveries" ng-click="deliveryCtrl.setCurrent(delivery)">
                        <td>{{delivery.nombre}}</td>
                        <td>{{delivery.direccion}}</td>
                        <td>{{delivery.telefono}}</td>
                        <td>  <i class="small material-icons">delete</i> </td>
                        <td>  <i class="small material-icons">mode_edit</i> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

