﻿<div class="row">
    <h4>Datos Administrativos</h4>
    <div class="divider"></div>
</div>

<form name="deliveryForm" ng-controller="DeliveryController as deliveryCtrl" ng-submit="deliveryCtrl.addDelivery()">
    <div class="row">
        <div class="container">

            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" type="text" class="validate" ng-model="deliveryCtrl.delivery.nombre">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="col s6">
                    Error Message
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="telefono" type="text" class="validate" ng-model="deliveryCtrl.delivery.telefono">
                    <label for="telefono">Telefono</label>
                </div>
                <div class="col s6">
                    Error Message
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <textarea id="descripcion" ng-maxlength="100" class="materialize-textarea" ng-model="deliveryCtrl.delivery.descripcion"></textarea>
                    <label for="descripcion">Descripcion</label>
                    Restan 1000 caracteres
                </div>
                <div class="col s6">

                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <textarea id="especialidades" ng-maxlength="100" class="materialize-textarea" ng-model="deliveryCtrl.delivery.especialidades"></textarea>
                    <label for="especialidades">Especialidades</label>
                    Restan 1000 caracteres
                </div>
                <div class="col s6">

                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="direccion" type="text" class="validate" ng-model="deliveryCtrl.delivery.direccion">
                    <label for="direccion">Direccion</label>
                </div>
                <div class="col s6">
                    Error Message
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="horario" type="text" class="validate">
                    <label for="horario">horario</label>
                </div>
                <div class="col s6">
                    Error Message
                </div>
            </div>

            <div class="row"></div>

        </div>

    </div>

    <!-- formularios inferiores -->
    <div class="row">
            <div class="col s6">

                <div class="row">
                    <div class="col s12">
                        <h4>Contacto Comercial</h4>
                        <div class="divider"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="cp_nombre" type="text" class="validate">
                        <label for="cp_nombre">Nombre</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="cp_apellido" type="text" class="validate">
                        <label for="cp_apellido">Apellido</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="cp_telefono" type="text" class="validate">
                        <label for="cp_telefono">Telefono</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="cp_email" type="email" class="validate">
                        <label for="cp_email">Email</label>
                    </div>
                </div>

        </div>

        <div class="col s6">

            <div class="row">
                <div class="col s12">
                    <h4>Contacto Comercial</h4>
                    <div class="divider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input type="checkbox" id="idem" />
                    <label for="idem">Idem contacto administrativo</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="ca_nombre" type="text" class="validate">
                    <label for="ca_nombre">Nombre</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="ca_apellido" type="text" class="validate">
                    <label for="ca_apellido">Apellido</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="ca_telefono" type="text" class="validate">
                    <label for="ca_telefono">Telefono</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="ca_email" type="email" class="validate">
                    <label for="ca_email">Email</label>
                </div>
            </div>

        </div>

    </div>

    <!-- botones -->
    <div class="row">
        <div class="col s8"></div>
        <div class="col s2 right-align">
            <a class="waves-effect waves-light btn">Cancelar</a>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Guardar
            </button>
        </div>
    </div>

</form>