﻿<!DOCTYPE html>

<html ng-app="deliveryApp">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.0/datatables.min.css" />
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title></title>
</head>
<body ng-controller="DeliveryController as deliveryCtrl">
    <header><nav> <div class="nav-wrapper"> </div> </nav></header>
    <main>
        <div class="row">
            <div class="col s12">
                <div class="carousel carousel-slider overflowed" ng-style="{'height': deliveryCtrl.height}">

                    <div class="carousel-item" href="#two!">
                        <div id="container">

                            <div class="row">
                                <div class="col s10">
                                    <h4>Listado de deliveries</h4>
                                </div>
                                <div class="col s2">
                                    <div class="button-adjustment">
                                        <button class="btn waves-effect waves-light" type="button" ng-click="deliveryCtrl.newDelivery()" name="action">
                                            Crear nuevo delivery
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">Filtros</div>
                                <div class="input-field col s3">
                                    <input id="filter_nombre" type="text" class="validate" ng-keyup="deliveryCtrl.applyNameSearch()" ng-model="deliveryCtrl.searchNombre">
                                    <label for="filter_nombre">Nombre</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="filter_direccion" type="text" class="validate" ng-keyup="deliveryCtrl.applyDireccionSearch()" ng-model="deliveryCtrl.searchDireccion">
                                    <label for="filter_direccion">Direccion</label>
                                </div>
                                <div class="col s3"></div>
                            </div>

                            <div class="row">
                                <div class="col s12">

                                    <div>
                                        <table ng-table="deliveryCtrl.tableParams" class="table highlight" show-filter="true">
                                            <tr ng-repeat="delivery in $data">
                                                <td title="'Nombre'" sortable="'nombre'">
                                                    {{delivery.nombre}}
                                                </td>
                                                <td title="'Telefono'" sortable="'telefono'">
                                                    {{delivery.telefono}}
                                                </td>
                                                <td title="'Direccion'" sortable="'direccion'">
                                                    {{delivery.direccion}}
                                                </td>
                                                <td>  <i class="small material-icons clickable" ng-click="deliveryCtrl.delete(delivery)">delete</i> </td>
                                                <td>  <i class="small material-icons clickable" ng-click="deliveryCtrl.edit(delivery)">mode_edit</i> </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="carousel-item" href="#one!">
                        <div class="row">
                            <h4>Datos Administrativos</h4>
                            <div class="divider"></div>
                        </div>
                        <form name="deliveryCtrl.deliveryForm" ng-submit="deliveryCtrl.deliveryForm.$valid && deliveryCtrl.deliveryCtrl.addDelivery()" novalidate>
                            <div class="row">
                                <div class="container">
                                    form is: {{deliveryForm.$valid}}
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input name="nombre" id="nombre" ng-maxlength="50" type="text" required ng-blur='deliveryCtrl.checkRequiredField("nombre")' class="validate" ng-model="deliveryCtrl.delivery.nombre">
                                            <label for="nombre">Nombre</label>
                                        </div>
                                        <div class="col s6">
                                            <span class="error-message"  ng-if="deliveryForm.nombre.$invalid && deliveryForm.nombre.$touched && !deliveryForm.submited">Este campo es obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="telefono" name="telefono" required type="text" class="validate" ng-model="deliveryCtrl.delivery.telefono">
                                            <label for="telefono">Telefono</label>
                                        </div>
                                        <div class="col s6">
                                            <span class="error-message"  ng-if="deliveryForm.telefono.$invalid && deliveryForm.telefono.$touched && !deliveryForm.submited">Este campo es obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <textarea id="descripcion" name="descripcion" required ng-maxlength="1000" class="materialize-textarea" ng-model="deliveryCtrl.delivery.descripcion"></textarea>
                                            <label for="descripcion" >Descripcion</label>
                                            Restan {{deliveryCtrl.descripcionMaxLenght - deliveryCtrl.delivery.descripcion.length}} caracteres
                                        </div>
                                        <div class="col s6">
                                            <span class="error-message"  ng-if="deliveryForm.descripcion.$invalid && deliveryForm.descripcion.$touched && !deliveryForm.submited">Este campo es obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <textarea id="especialidades" ng-maxlength="100" class="materialize-textarea" ng-model="deliveryCtrl.delivery.especialidades"></textarea>
                                            <label for="especialidades">Especialidades</label>
                                            Restan {{deliveryCtrl.especialidadesMaxLenght - deliveryCtrl.delivery.especialidades.length}} caracteres
                                        </div>
                                        <div class="col s6">

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="direccion" name="direccion" required type="text" class="validate" ng-model="deliveryCtrl.delivery.direccion">
                                            <label for="direccion" data-error="Este campo es obligatorio">Direccion</label>
                                        </div>
                                        <div class="col s6">
                                            <span class="error-message"  ng-if="deliveryForm.direccion.$invalid && deliveryForm.direccion.$touched && !deliveryForm.submited">Este campo es obligatorio</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <div class="row">
                                                <div class="col s6">
                                                    <div class="input-group"
                                                         moment-picker="deliveryCtrl.delivery.horarioApertura"
                                                         format="HH:mm">
                                                        <span class="input-group-addon">
                                                            <i class="octicon octicon-clock"></i>
                                                        </span>
                                                        <input class="form-control"
                                                               placeholder="Abierto desde"
                                                               ng-model="deliveryCtrl.delivery.horarioApertura"
                                                               ng-model-options="{ updateOn: 'blur' }" name="horarioApertura" required>
                                                    </div>
                                                </div>
                                                <div class="col s6">
                                                    <div class="input-group"
                                                         moment-picker="deliveryCtrl.delivery.horarioCierre"
                                                         format="HH:mm">
                                                        <span class="input-group-addon">
                                                            <i class="octicon octicon-clock"></i>
                                                        </span>
                                                        <input class="form-control"
                                                               placeholder="Abierto hasta"
                                                               ng-model="deliveryCtrl.delivery.horarioCierre"
                                                               ng-model-options="{ updateOn: 'blur' }" name="horarioCierre" required>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                        </div>
                                        <div class="col s6">
                                            <span class="error-message" ng-if="deliveryForm.horarioApertura.$invalid && deliveryForm.horarioApertura.$touched || deliveryForm.horarioCierre.$invalid && deliveryForm.horarioCierre.$touched">El horario de apertura y cierre son campos requeridos</span>
                                        </div>
                                    </div>

                                    <div class="row"></div>

                                    <!--<div class="row">
                                        <div class="col s6">

                                            <div class="row">
                                                <div class="col s12">
                                                    <h4>Contacto Comercial</h4>
                                                    <div class="divider"></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12 align-adjust">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="cp_nombre" ng-required="!(deliveryCtrl.delivery.contactoComercial.nombre || deliveryCtrl.delivery.contactoComercial.apellido)" ng-model="deliveryCtrl.delivery.contactoComercial.nombre" type="text" class="validate">
                                                    <label for="cp_nombre">Nombre</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="cp_apellido" ng-required="!(deliveryCtrl.delivery.contactoComercial.nombre || deliveryCtrl.delivery.contactoComercial.apellido)" ng-model="deliveryCtrl.delivery.contactoComercial.apellido" type="text" class="validate">
                                                    <label for="cp_apellido">Apellido</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="cp_telefono" type="text" class="validate" ng-model="deliveryCtrl.delivery.contactoComercial.telefono" >
                                                    <label for="cp_telefono">Telefono</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="cp_email" type="email" class="validate" ng-model="deliveryCtrl.delivery.contactoComercial.email" >
                                                    <label for="cp_email">Email</label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col s6">

                                            <div class="row">
                                                <div class="col s12">
                                                    <h4>Contacto Comercial</h4>
                                                    <div class="divider"></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12">
                                                    <input type="checkbox" id="idem" />
                                                    <label for="idem">Idem contacto administrativo</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="ca_nombre" type="text" class="validate" ng-model="deliveryCtrl.delivery.contactoAdmin.nombre" >
                                                    <label for="ca_nombre">Nombre</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="ca_apellido" type="text" class="validate" ng-model="deliveryCtrl.delivery.contactoAdmin.apellido" >
                                                    <label for="ca_apellido">Apellido</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="ca_telefono" type="text" class="validate" ng-model="deliveryCtrl.delivery.contactoAdmin.telefono" >
                                                    <label for="ca_telefono">Telefono</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="ca_email" type="email" class="validate" ng-model="deliveryCtrl.delivery.contactoAdmin.email" >
                                                    <label for="ca_email">Email</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s8">
                                    <div></div>
                                </div>
                                <div class="col s2 right-align">
                                    <a class="waves-effect waves-light btn" ng-click="deliveryCtrl.cancel()">Cancelar</a>
                                </div>
                                <div class="col s2">
                                    <button class="btn waves-effect waves-light" type="submit" ng-click="deliveryCtrl.checkForm()" name="action">
                                        Guardar
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- main form -->
    <!--<delivery-form></delivery-form>-->

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Datos guardados exitosamente!</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Esta seguro de eliminar el delivery {{deliveryCtrl.nombre}}?</h4>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deliveryCtrl.deleteCanceled()">Cancelar</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deliveryCtrl.deleteConfirmed()">Eliminar</a>
        </div>
    </div>

    <footer class="page-footer"></footer>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.0/datatables.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</body>
</html>