﻿<!DOCTYPE html>

<html ng-app="deliveryApp">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.0/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <title></title>
</head>
<body ng-controller="DeliveryController as deliveryCtrl">

    <nav> <div class="nav-wrapper"> </div> </nav>

    <!-- main form -->
    <!--<delivery-form></delivery-form>-->
    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" style="height: 900px;">

                <div class="carousel-item" href="#two!">
                    <div id="container">

                        <div class="row">
                            <div class="col s10">
                                <h4>Listado de deliveries</h4>
                            </div>
                            <div class="col s2">
                                <div class="button-adjustment">
                                    <button class="btn waves-effect waves-light" type="button" ng-click="deliveryCtrl.newDelivery()" name="action">
                                        Crear nuevo delivery
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s3">Filtros</div>
                            <div class="col s3">
                                <input id="filter_nombre" type="text" class="validate">
                                <label for="filter_nombre">Nombre</label>
                            </div>
                            <div class="col s3">
                                <input id="filter_direccion" type="text" class="validate">
                                <label for="filter_direccion">Direccion</label>
                            </div>
                            <div class="col s3"></div>
                        </div>

                        <div class="row">
                            <div class="col s12">

                                <table id="deliveriesList" class="display" width="100%"></table>

                                <!--<table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="#" ng-click="deliveryCtrl.sortType = 'nombre'; deliveryCtrl.sortReverse = !deliveryCtrl.sortReverse">
                                                    Nombre
                                                    <span ng-show="deliveryCtrl.sortType == 'nombre' && !deliveryCtrl.sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="deliveryCtrl.sortType == 'nombre' && deliveryCtrl.sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th>
                                                <a href="#" ng-click="deliveryCtrl.sortType = 'direccion'; deliveryCtrl.sortReverse = !deliveryCtrl.sortReverse">
                                                    Direccion
                                                    <span ng-show="deliveryCtrl.sortType == 'direccion' && !deliveryCtrl.sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="deliveryCtrl.sortType == 'direccion' && deliveryCtrl.sortReverse" class="fa fa-caret-up"></span>
                                                </a>

                                            </th>
                                            <th>
                                                <a href="#" ng-click="deliveryCtrl.sortType = 'telefono'; deliveryCtrl.sortReverse = !deliveryCtrl.sortReverse">
                                                    Telefono
                                                    <span ng-show="deliveryCtrl.sortType == 'telefono' && !deliveryCtrl.sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="deliveryCtrl.sortType == 'telefono' && deliveryCtrl.sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="delivery in deliveryCtrl.deliveries | orderBy:deliveryCtrl.sortType:deliveryCtrl.sortReverse">
                                            <td>{{delivery.nombre}}</td>
                                            <td>{{delivery.direccion}}</td>
                                            <td>{{delivery.telefono}}</td>
                                            <td>  <i class="small material-icons clickable" ng-click="deliveryCtrl.delete(delivery)">delete</i> </td>
                                            <td>  <i class="small material-icons clickable" ng-click="deliveryCtrl.edit(delivery)">mode_edit</i> </td>
                                        </tr>
                                    </tbody>
                                </table>-->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="carousel-item" href="#one!">
                    <div class="row">
                        <h4>Datos Administrativos</h4>
                        <div class="divider"></div>
                    </div>
                    <form name="deliveryForm" ng-submit="deliveryForm.$valid && deliveryCtrl.addDelivery()" novalidate>
                        <div class="row">
                            <div class="container">
                                form is: {{deliveryForm.$valid}}
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="nombre" ng-maxlength="50" type="text" class="validate" ng-model="deliveryCtrl.delivery.nombre">
                                        <label for="nombre">Nombre</label>
                                    </div>
                                    <div class="col s6">
                                        Error Message
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="telefono" type="text" class="validate" ng-model="deliveryCtrl.delivery.telefono">
                                        <label for="telefono">Telefono</label>
                                    </div>
                                    <div class="col s6">
                                        Error Message
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <textarea id="descripcion" ng-maxlength="1000" class="materialize-textarea" ng-model="deliveryCtrl.delivery.descripcion"></textarea>
                                        <label for="descripcion">Descripcion</label>
                                        Restan {{deliveryCtrl.descripcionMaxLenght - deliveryCtrl.delivery.descripcion.length}} caracteres
                                    </div>
                                    <div class="col s6">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <textarea id="especialidades" ng-maxlength="100" class="materialize-textarea" ng-model="deliveryCtrl.delivery.especialidades"></textarea>
                                        <label for="especialidades">Especialidades</label>
                                        Restan {{deliveryCtrl.especialidadesMaxLenght - deliveryCtrl.delivery.especialidades.length}} caracteres
                                    </div>
                                    <div class="col s6">

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="direccion" type="text" class="validate" ng-model="deliveryCtrl.delivery.direccion">
                                        <label for="direccion">Direccion</label>
                                    </div>
                                    <div class="col s6">
                                        Error Message
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="horario" type="text" class="validate">
                                        <label for="horario">horario</label>
                                    </div>
                                    <div class="col s6">
                                        Error Message
                                    </div>
                                </div>

                                <div class="row"></div>

                            </div>

                        </div>

                        <!-- formularios inferiores
                        <div class="row">
                            <div class="col s6">

                                <div class="row">
                                    <div class="col s12">
                                        <h4>Contacto Comercial</h4>
                                        <div class="divider"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="cp_nombre" ng-required="!(deliveryCtrl.delivery.nombre || deliveryCtrl.delivery.telefono)" type="text" class="validate">
                                        <label for="cp_nombre">Nombre</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="cp_apellido" ng-required="!(deliveryCtrl.delivery.nombre || deliveryCtrl.delivery.telefono)" type="text" class="validate">
                                        <label for="cp_apellido">Apellido</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="cp_telefono" type="text" class="validate">
                                        <label for="cp_telefono">Telefono</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="cp_email" type="email" class="validate">
                                        <label for="cp_email">Email</label>
                                    </div>
                                </div>

                            </div>

                            <div class="col s6">

                                <div class="row">
                                    <div class="col s12">
                                        <h4>Contacto Comercial</h4>
                                        <div class="divider"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <input type="checkbox" id="idem" />
                                        <label for="idem">Idem contacto administrativo</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="ca_nombre" type="text" class="validate">
                                        <label for="ca_nombre">Nombre</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="ca_apellido" type="text" class="validate">
                                        <label for="ca_apellido">Apellido</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="ca_telefono" type="text" class="validate">
                                        <label for="ca_telefono">Telefono</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="ca_email" type="email" class="validate">
                                        <label for="ca_email">Email</label>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- botones -->
                        <div class="row">
                            <div class="col s8"></div>
                            <div class="col s2 right-align">
                                <a class="waves-effect waves-light btn" ng-click="deliveryCtrl.cancel()">Cancelar</a>
                            </div>
                            <div class="col s2">
                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Delivery agregado exitosamente!</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Esta seguro de eliminar el delivery {{deliveryCtrl.nombre}}?</h4>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deliveryCtrl.deleteCanceled()">Cancelar</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="deliveryCtrl.deleteConfirmed()">Eliminar</a>
        </div>
    </div>

    <!--<delivery-list></delivery-list>-->

    <footer class="page-footer"></footer>


    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/r-2.1.0/datatables.min.js"></script>
       <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>